$orange: #ff9051;
$purple: #9f7fff;
$white: #ffffff;
$darkPurple: #7646fe;
$darkerPurple: #591ff8;
$lowOpacityBlack: #000000a5;
$lowerOpacityBlack: #00000066;
$transparent: #00000000;
$balck: #000;
$green: #46c746;
$red: #bb2424;